<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.littleant.carrepair">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme_Light"
        tools:replace="android:theme">
        <activity
            android:name=".demo.TestActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeDark" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/gaode_map_api_key" />

        <activity
            android:name=".activies.shopping.ShoppingOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.order.AllOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.car.AddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.SendCarAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.address.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.SendCarServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.RemainingSumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.ExchangeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.order.OrderPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.shopping.ShoppingCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.shopping.ShoppingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.repair.RepairActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.car.MyCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.address.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.repair.RepairRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.repair.RepairStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.info.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.ServiceMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.AnnualCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.AnnualCheckFillInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.PickCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.StartCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.CheckReturnCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.insurance.InsuranceProxyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.AnnualCheckRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.maintain.BookMaintainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.main.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.map.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.order.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.pay.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activies.login.ForgetPasswordActivity" />
        <activity android:name=".activies.login.RegisterActivity" />
        <activity android:name=".activies.annualcheck.OwnCheckFillInfoActivity" />
        <activity android:name=".activies.annualcheck.OwnStartCheckActivity" />
        <activity android:name=".activies.map.SelectPlaceActivity" />
        <activity android:name=".activies.annualcheck.AnnualCheckFeedbackActivity" />
        <activity android:name=".activies.annualcheck.AnnualCheckDetailActivity" />
        <activity android:name=".activies.order.ServiceOrderDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.littleant.carrepair.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>