<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littleant.carrepair">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyThemeLight">
        <activity
            android:name=".dome.TestActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeDark"></activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/gaode_map_api_key" />

        <activity
            android:name=".activies.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.AllOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.AddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.SendCarAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.SendCarServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.RemainingSumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.ExchangeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.OrderPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.ShoppingCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.ShoppingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.RepairActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.MyCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.RepairRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.RepairStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.ServiceMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.AnnualCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.AnnualCheckFillInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.PickCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.StartCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.CheckReturnCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.InsuranceProxyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.AnnualCheckRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.BookMaintainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.PaymentActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>