<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.littleant.carrepair">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/MyTheme_Light"
        tools:replace="android:theme">
        <activity
            android:name=".demo.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activies.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeDark" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/gaode_map_api_key" />

        <activity
            android:name=".activies.shopping.ShoppingOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.order.AllOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.car.AddCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.SendCarAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.address.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.aftersale.AftersaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.SendCarServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.RemainingSumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.ExchangeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.order.OrderPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.shopping.ShoppingCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.shopping.ShoppingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.repair.RepairActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.car.MyCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.address.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.repair.RepairRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.repair.RepairStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.info.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.ServiceMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.AnnualCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.AnnualCheckFillInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activies.annualcheck.PickCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.StartCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.CheckReturnCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.insurance.InsuranceProxyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.AnnualCheckRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.upkeep.BookUpkeepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.main.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.map.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.order.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.pay.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.login.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.OwnCheckFillInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activies.annualcheck.OwnStartCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.AnnualCheckFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.annualcheck.AnnualCheckDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.repair.RepairOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.littleant.carrepair.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activies.BookSubmitActivity"
            android:screenOrientation="portrait" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".reciever.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.littleant.carrepair" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activies.PushDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PushDialogTheme" />
        <activity android:name=".activies.car.CarBrandActivity" />
        <activity
            android:name=".activies.FirstLaunchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activies.shopping.ShoppingItemDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <!-- alipay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay -->
        <activity android:name=".activies.upkeep.UpkeepDetailActivity" />
        <activity android:name=".activies.annualcheck.AnnualCheckFailActivity"></activity>
    </application>

</manifest>